.panel {
  width: 100%;
}

.panel .panel-open-indicator {
  transform: rotate(0);
  transition: transform 0.3s;
}

.panel.active .panel-open-indicator {
  transform: rotate(180deg);
}

.panel-btn {
  width: 100%;
  background-color: var(--bg-surface);
  border: none;
  padding: 1rem 2rem;
  border-radius: var(--border-radius);
}

.panel.active .panel-btn {
  margin-bottom: 0.7rem;
}

.panel-btn:active {
  -webkit-tap-highlight-color: transparent;
}

.panel-btn h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  font-size: clamp(1rem, 2.5vw, 2.5rem);
  color: black;
  transition: color, fill;
  transition-duration: 0.3s;
}

.panel.active h1 {
  color: var(--accent-color);
  fill: var(--accent-color);
}

.panel-btn svg {
  width: 1em;
  height: 1em;
}

.panel-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
  opacity: 0;
  transform: translateY(-8px);
  transition:
    opacity 0.5s,
    transform 0.5s;
  border-radius: var(--border-radius);
}

.panel.active .panel-content:not(:has(.preview-card-container, form)) {
  padding-top: 2rem;
}

.panel.active .panel-content {
  opacity: 1;
  transform: translateY(0);
  background-color: white;
  padding-bottom: 2rem;
}

.panel-content form {
  padding: 2rem 2rem 0;
  align-self: stretch;
}

.preview-card-container {
  --gap: 0.5rem;
  background-color: var(--bg-main);
  display: flex;
  flex-direction: column;
  gap: var(--gap);
  width: 100%;
  margin-bottom: var(--gap);
}
